---
title: Search
permalink: /search/
layout: base.njk
---

<h1>{{ title }} Posts</h1>

<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>
<style>
    :root {
        --pagefind-ui-scale: 0.8 !important;;
        --pagefind-ui-primary: var(--pico-primary) !important;;
        --pagefind-ui__result-title: var(--pico-color-cyan-500)  !important;; 
        --pagefind-ui-text: var(--pico-color) !important;;
        --pagefind-ui-background: var(--pico-background-color) !important;;
        --pagefind-ui-border: var(--pico-muted-border-color) !important;;
        --pagefind-ui-tag: var(--pico-muted-border-color) !important;;
        --pagefind-ui-border-radius: var(--pico-border-radius) !important;;
        --pagefind-ui-font: var(--pico-font-family) !important;;
    }

    .pagefind-ui__search {
        background-color: var(--pico-form-element-background-color) !important;
        border: var(--pico-border-width) solid var(--pico-border-color) !important;
        color: var(--pico-color-cyan-500) !important;
    }
    
    .pagefind-ui__result-link {
        color: var(--pico-color-cyan-500) !important;
    }

    .pagefind-ui__search-clear {
        color: var(--pico-color-cyan-500) !important;
        font-weight: bold;
    }

    .pagefind-ui__search-input {
        color: var(--pico-color-cyan-500) !important;
    }
</style>

<div id="search"></div>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ 
            element: "#search", 
            showSubResults: true,
            showImages: false  // no thumbnails
        });
    });
</script>